*repo*
auth.*
*secret*
*.lnk
*.url
* - Copy.*
*.cmd
*.js
*.json
*.log
*.pyproj
*.7z
*.zip
fitbit.ini
*.csv
*.qvw
*.twb
*_.*
*_/
*-.*
*-/
-*
-*/
*test*
*test*/
FitBitData/
Archive/
build/
data/
BackUp/
__pycache__/

